<h2><%= @student.firstname %></h2>
<button class='h42'>
  <%= link_to '+', new_note_path(query: @student.id) %>
</button>
<% @student.notes.order('updated_at DESC').each do |note| %>
  <div class='flex'>
    <div class='div200'><%= note.description %></div>
    <button><%= link_to '!', edit_note_path(note) %></button>
    <button><%= link_to 'x', note_path(note), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
  </div>
<% end %>
