<!DOCTYPE html>
<html>
  <head>
    <title>NoteMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='container flex-center'>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% if user_signed_in? %>
          <div class='account'><%= link_to current_user.username, groups_path %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
